Source: workspace-window
Section: utils
Priority: optional
Maintainer: Pavlos Orfanidis <pavlos@orfanidis.net.gr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/porfanid/workspace-window
Vcs-Git: https://github.com/porfanid/workspace-window.git

Package: workspace-window
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A C++ application to move windows between workspaces using X11.
 This package provides a utility to move windows to different workspaces.
